* text=auto eol=lf

*.php text
*.blade.php text
*.json text
*.yml text
*.yaml text
*.md text
*.env.example text
*.sh text
Dockerfile text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary

/bootstrap/cache/*.php -diff
/public/build/ export-ignore
/vendor/ export-ignore
/node_modules/ export-ignore
